.card {
  display: flex;
  list-style-type: none;
  border: none;
  border-radius: 8px;
  background-color: #f3f4f0;
  padding: 0.5rem;
  width: 8.5rem;
  height: 11.5rem;
  color: #000;
  box-shadow: 5px 5px 5px #00000034;
  flex: 0 0 auto;
}

.card:hover {
  transform: scale(1.02);
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.card__header {
  display: flex;
  justify-content: flex-end;
}

.card__header-list {
  display: flex;
  gap: 0.3rem;
}

.card__header-list-item {
  list-style-type: none;
}

.card__like-btn-not-liked {
  background: transparent url(../../assets/heart-gray.svg) no-repeat center;
  border: none;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.card__like-btn-not-liked:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__like-btn-liked {
  background: transparent url(../../assets/heart-green.svg) no-repeat center;
  border: none;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.card__like-btn-liked:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__complete-btn-not-completed {
  background: transparent url(../../assets/tick-gray.svg) no-repeat center;
  border: none;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.card__complete-btn-not-completed:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__complete-btn-completed {
  background: transparent url(../../assets/tick-green.svg) no-repeat center;
  border: none;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.card__complete-btn-completed:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__name {
  margin: 0;
  font-size: 0.75rem;
  padding: 0.5rem 0;
}

.card__categories-container {
  display: flex;
  flex-wrap: wrap;
}

.card__category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: transparent;
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
}

.card__category-icon {
  width: 1rem;
  height: 1rem;
}

.card__category-label {
  font-size: 0.4rem;
}

.card__description {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.card__group-size {
  font-size: 0.6rem;
}

.card__cost {
  font-size: 0.6rem;
}
