.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  transform: translateY(-8px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  gap: 0.7rem;
}

.modal_opened .modal__container {
  transform: translateY(0);
  opacity: 1;
}

.modal__container_add-activity {
  display: flex;
  flex-direction: column;
  background: #c0a145;
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  width: 22rem;
  max-height: 100%;
  box-sizing: border-box;
  border: solid 1px #926e00;
}

.modal__container_register {
  display: flex;
  flex-direction: column;
  background: #c0a145;
  border-radius: 0.5rem;
  padding: 2.2rem;
  position: relative;
  width: 23rem;
  max-height: 100%;
  box-sizing: border-box;
  border: solid 1px #926e00;
}

.modal__container_login {
  display: flex;
  flex-direction: column;
  background: #c0a145;
  border-radius: 0.5rem;
  padding: 2.2rem;
  position: relative;
  width: 23rem;
  max-height: 100%;
  box-sizing: border-box;
  border: solid 1px #926e00;
}

.modal__title {
  padding: 0;
  font-size: 1rem;
  margin: 0;
}

.modal__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent url("../../assets/close-icon.svg") center no-repeat;
  background-size: cover;
  width: 0.9rem;
  height: 0.9rem;
  border: none;
  padding: 0;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.modal__label {
  font-size: 0.8rem;
  font-weight: 600;
}

.modal__input {
  font-size: 0.7rem;
  font-weight: 600;
  color: #3c2d01be;
  margin: 0.1rem 0 0 0;
  width: 100%;
  padding: 0.3rem 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background-color: transparent;
}

.modal__input:hover {
  opacity: 0.7;
}

.modal__input::placeholder {
  color: #f3f4f090;
}

.modal__btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0 0;
}

.modal__submit-btn {
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.6rem 1.5rem;
  border: solid 1px #00000080;
  font-size: 0.8rem;
  opacity: 1;
  color: #f3f4f0;
  height: fit-content;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__submit-btn_add-activity {
  width: 100%;
}

.modal__submit-btn_type_disabled {
  background-color: #f3f4f0;
}

.modal__nav-btn {
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background: transparent;
  padding: 0.6rem 1rem;
  font-size: 0.75rem;
}

.modal__nav-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal__error {
  color: #3c2d01;
  font-size: 0.7rem;
}
