.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.4s, opacity 0.4s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  display: flex;
  flex-direction: column;
  background: #c0a145;
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  width: 25rem;
  max-height: 100%;
  box-sizing: border-box;
  border: solid 1px #926e00;
}

.modal__title {
  padding: 0;
  font-size: 1rem;
  margin: 0 0 1rem;
}

.modal__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent url("../../assets/close-icon.svg") center no-repeat;
  background-size: cover;
  width: 0.9rem;
  height: 0.9rem;
  border: none;
  padding: 0;
  opacity: 0.8;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__btn-wrapper {
  display: flex;
  justify-content: center;
}

.modal__submit-btn {
  border-radius: 0.3rem;
  background: #f3f4f0;
  padding: 0.6rem;
  border: solid 1px #926e00;
  font-size: 0.7rem;
  opacity: 1;
  width: 8rem;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__submit-btn_type_disabled {
  background-color: #f3f4f0;
}
