.location-display {
  border-left: #f3f4f0 solid 1px;
  border-right: #f3f4f0 solid 1px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.location-display__container {
  display: flex;
  flex-direction: column;
}

.location-display__title {
  font-size: 0.6rem;
  margin: 0;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .location-display {
    border: none;
  }
}

@media screen and (max-width: 380px) {
  .location-display__title {
    padding: 0 0 0.2rem 0;
  }
}
