.form__container_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.form {
  display: flex;
  flex-direction: row;
}

.form__sections_search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "seasons location category cost group"
    "reset reset reset reset reset";
  align-items: stretch;
  gap: 0.5rem;
}

.form__sections_modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "seasons category"
    "seasons category"
    "seasons category"
    "location category"
    "location cost"
    "group cost"
    "group reset";
  gap: 0.3rem;
  align-items: start;
}

.form__section {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0.15rem;
}

.form__section_seasons {
  grid-area: seasons;
}

.form__section_location {
  grid-area: location;
}

.form__section_category {
  grid-area: category;
}

.form__section_group {
  grid-area: group;
}

.form__section_cost {
  grid-area: cost;
}

.form__section_range-view {
  display: flex;
  flex-direction: column;
}

.form__section_exact-view {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 0.7rem;
}

.form__label {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form__label_exact {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
  padding: 0.1rem 0;
}

.form__input {
  margin: 0 0.15rem;
}

.form__input:hover {
  cursor: pointer;
  opacity: 0.7;
}

.form__input_cost {
  margin: 0.1rem;
}

.form__input_group {
  width: 2rem;
  margin: 0.1rem;
}

.form__input_exact {
  margin-left: 0;
}

.form__reset-btn {
  grid-area: reset;
  justify-self: end;
  align-self: end;
  font-size: 0.65rem;
  padding: 0.5rem;
  border-radius: 0.1rem;
  width: 100%;
  border: solid 1px #926e00;
}

.form__reset-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
