.add-activity-button {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  background: transparent url("../../assets/add-btn.svg") center no-repeat;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 0;
  opacity: 0.9;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  z-index: 999;
}

.add-activity-button:hover {
  opacity: 1;
  transform: scale(1.07);
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  .add-activity-button {
    bottom: 0.7rem;
    left: 0.7rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}
