.header {
  border-bottom: #f3f4f0 solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.header__mobile-top-container {
  display: flex;
  justify-content: space-between;
}

.header__mobile-middle-container {
  display: flex;
}

.header__mobile-dropdown-location {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.header__divider {
  border: none;
  border-top: 1px solid #f3f4f0;
  margin: 0;
}

.header__unauthorized-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
}

.header__unauthorized-view-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
}

.header__unauthorized-item {
  padding: 0;
  list-style: none;
  margin: 0;
}

.header__unauthorized-item-mobile {
  padding: 0;
  list-style: none;
  margin: 0;
}

.header__unauthorized-btn {
  border: none;
  padding: 0;
  background: transparent;
  font-size: 1rem;
  color: #f3f4f0;
  margin: 0;
}

.header__unauthorized-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: #c0a145;
}

.header__unauthorized-btn-mobile {
  border: none;
  padding: 0;
  background: transparent;
  font-size: 0.9rem;
  color: #f3f4f0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    border: none;
    padding: 0;
  }

  .header__left {
    width: 100%;
    flex-direction: column;
  }

  .header__mobile-top-container {
    display: flex;
    flex-direction: row;
  }

  .header__mobile-middle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem;
  }
}
