.recommended-activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.recommended-activities__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.recommended-activities__header-with-padding {
  padding: 0 0 2rem;
}

.recommended-activities__title {
  margin: 0;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .recommended-activities__title {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 380px) {
  .recommended-activities {
    padding: 2rem 0 0 0;
  }

  .recommended-activities__title {
    font-size: 0.8rem;
  }
}
