.recommended-activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a45f50;
  padding: 3rem 0;
  max-width: 100%;
  margin: 0 auto;
}

.recommended-activities__title {
  margin: 0;
  font-size: 1rem;
}
