.footer {
  padding: 2rem;
  font-size: 0.8rem;
}

.footer__desktop-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__mobile-view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__author {
  margin: 0;
}

.footer__year {
  margin: 0;
}

@media screen and (max-width: 380px) {
  .footer {
    font-size: 0.6rem;
    padding: 1rem;
  }
}
