.form {
  display: flex;
  flex-direction: row;
}

.form__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.15rem;
}

.form__section_range-view {
  display: flex;
  flex-direction: column;
}

.form__section_exact-view {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 0.7rem;
}

.form__label {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form__label_exact {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
  padding: 0.1rem 0;
}

.form__input {
  margin: 0 0.15rem;
}

.form__input_cost {
  margin: 0.1rem;
}

.form__input_group {
  width: 2rem;
  margin: 0.1rem;
}

.form__input_exact {
  margin-left: 0;
}
