.search-activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin: 0 auto;
}

.search-activities__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-activities__header-with-padding {
  padding: 0 0 2rem;
}

.search-activities__title {
  font-size: 1rem;
  margin: 0;
}

.search-activities__filter-btn {
  position: absolute;
  right: 2rem;
  top: -0.4rem;
  background: transparent url("../../assets/utilityIcons/filter.svg") center
    no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  border: none;
  padding: 0;
  opacity: 0.9;
}

.search-activities__filter-btn:hover {
  position: absolute;
  right: 2rem;
  top: -0.4rem;
  background: transparent url("../../assets/utilityIcons/filter-hover.svg")
    center no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  border: none;
  padding: 0;
  opacity: 1;
  transform: scale(1.07);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search-activities__header {
    justify-content: space-between;
    padding-right: 2rem;
  }

  .search-activities__title {
    font-size: 0.9rem;
    margin: 0 auto;
  }

  .search-activities__filter-btn {
    position: unset;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  .search-activities {
    padding: 2rem 0 0 0;
  }

  .search-activities__title {
    font-size: 0.8rem;
  }
}
